.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &.hero {
    padding: 0;
  }
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.clients__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--ms--cubic), border var(--ms--cubic);
  &:hover,
  &:focus {
    color: var(--main-button-color);
    border: 1px solid #2196f3;
  }
}
